<h1>Train Station Control</h1>


<!-- RIDERS -->


<h2>For Riders:</h2>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Lines
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <% @lines.each() do |line| %>
      <li><a href="/lines/<%= line.id()%>"><%= line.name() %></a></li>
    <% end %>  </ul>
</div>

<p>
  <a href="/lines">Show all Lines</a>
</p>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Stations
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <% @stations.each() do |station| %>
    <li><a href="/stations/<%= station.id()%>"><%= station.name() %></a></li>
    <% end %>
  </ul>
</div>

<p>
  <a href="/stations">Show all Stations</a>
</p>


<!-- INSERT STOPS CODE HERE TOMORROW -->



<!-- INSERT CODE FOR STOPS ABOVE THIS LINE -->


<!-- OPERATORS -->


<h2>For Operators:</h2>

<!-- ADD LINES -->

<form id="add_line" action="/lines" method="post">
  <div class="form-group">
    <label for="line_id">Add a Line</label>
    <input type="text" name="line_id" id="line_id">
    </div>
  <button type="submit">Add Line</button>
</form>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Lines
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
    <% @lines.each() do |line| %>
    <li><a href="/lines/<%= line.id()%>"><%= line.name() %></a></li>
    <% end %>
  </ul>
</div>

<p>
<a href="/lines">Show all Lines</a>
</p>

<!-- ADD STATIONS -->

<form id="add_station" action="/stations" method="post">
  <div class="form-group">
    <label for="station_id">Add a Station</label>
    <input type="text" name="station_id" id="station_id">
  </div>
  <button type="submit">Add Station</button>
</form>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Stations
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
    <% @stations.each() do |station| %>
      <li><a href="/stations/<%= station.id()%>"><%= station.name() %></a></li>
    <% end %>
  </ul>
</div>

<p>
<a href="/stations">Show all Stations</a>
</p>
